/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

html{
    padding: 20px 20px 0;
}

body {
    width: 100%;
    max-width: 1014px;
    margin: 0 auto;
}

#conversation, #people {
    margin-bottom: 30px;
}

#conversation{
    width: 800px;
    min-height: 600px;
    border: 1px solid black;
    float: left;
    margin: 0 0 10px 0;

    span.myname{
        font-weight: bold;
    }
}

#people{
    border: 1px solid black;
    margin-left: 10px;
    min-height: 580px;
    width: 180px;
    float: left;
    padding: 10px;

    .me{
        font-weight: bold;
    }
}

#chat{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    background: #fff;
    @include box-shadow;

    fieldset {
        width: 100%;
        max-width: 1014px;
        margin: 0 auto;
    }

    input[type="button"]{
        float: left;
    }

    .auto-size {
        // Stolen from: http://www.alistapart.com/articles/expanding-text-areas-made-elegant/
        position: relative;
        border: 1px solid #888;
        background: #fff;
        width: 800px;

        textarea, pre {
            background: transparent;
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        textarea {
            margin: 0;
            padding: 0;
            outline: 0;
            border: 0;
            @include box-sizing(border-box);
            width: 100%;
            height: 100%;
        }

        pre {
            display: none;
        }

        &.active {
            textarea {
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                resize: none;
            }

            pre {
                display: block;
                visibility: hidden;
            }
        }
    }
}

#msg{
    width: 400px;
    height: 18px;
    float: left;
}

